@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 13%; /* #222222 */
    --foreground: 0 0% 98%;

    --card: 0 0% 15%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 10%;
    --popover-foreground: 0 0% 98%;

    --primary: 272 100% 25%; /* #4B0082 */
    --primary-foreground: 0 0% 98%;

    --secondary: 274 35% 35%;
    --secondary-foreground: 0 0% 98%;

    --muted: 274 35% 25%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 276 100% 50%; /* #8F00FF */
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 50%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 25%;
    --input: 0 0% 25%;
    --ring: 276 100% 50%;

    --radius: 0.5rem;

    --chart-1: 276 100% 50%;
    --chart-2: 272 100% 25%;
    --chart-3: 274 35% 35%;
    --chart-4: 0 0% 63.9%;
    --chart-5: 0 0% 98%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Custom styles for video.js */
.video-js {
  @apply font-body;
}

.vjs-control-bar {
    @apply bg-black/50;
}

.vjs-big-play-button {
    @apply bg-accent/70 border-none rounded-full h-16 w-16 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}

.video-js .vjs-big-play-button .vjs-icon-placeholder:before {
    @apply text-4xl;
}

.vjs-slider-bar,
.vjs-volume-level,
.vjs-play-progress {
  @apply bg-accent;
}

.vjs-loading-spinner {
  border-color: hsl(var(--accent));
}
